!data/.gitkeep
!models/.gitkeep
!src/.gitkeep
.ipynb_checkpoints
.idea/
__pycache__/
__pypackages__/
.pytest_cache/
data/*
*/mlruns/*
*/runs/*
*/lightning_logs/*
.vscode/
NISQA_s/
app_test/
*.zip
checkpoints/*
!checkpoints/fspen_chkp.zip
dfn*/
*.wav
gtcrn/
input/
runs/
samples/
*.csv
*.pdf
gtcrn*/
notebooks/
!notebooks/.gitkeep
plots/
figures/