absl-py==2.3.0
altair==6.0.0
annotated-types==0.7.0
anyio @ file:///croot/anyio_1745334642479/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///croot/async-lru_1699554519285/work
attrs @ file:///croot/attrs_1734533101012/work
audioread==3.0.1
babel @ file:///croot/babel_1737454360933/work
backcall==0.2.0
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///croot/bleach_1732290411627/work
blinker==1.9.0
Brotli @ file:///croot/brotli-split_1736182456865/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==6.2.4
certifi @ file:///croot/certifi_1750863846190/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.3.1
colored==2.3.0
coloredlogs==15.0.1
comm @ file:///croot/comm_1709322850197/work
contourpy==1.3.2
cycler==0.12.1
Cython==3.0.12
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docopt==0.6.2
editdistance==0.8.1
einops==0.8.1
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
ffmpeg==1.4
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.4
fqdn==1.5.1
fsspec==2025.5.1
future==1.0.0
Gammatone==1.0.3
gitdb==4.0.12
GitPython==3.1.45
grpcio==1.73.1
h11 @ file:///croot/h11_1748442006460/work
hf-xet==1.1.10
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///croot/httpx_1746747840559/work
huggingface-hub==0.35.0
humanfriendly==10.0
idna @ file:///croot/idna_1714398848350/work
inflect==7.5.0
inquirerpy==0.3.4
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython==8.12.3
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
isoduration==20.11.0
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.1
json5 @ file:///croot/json5_1730786798687/work
jsonpointer==3.0.0
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1741200034823/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///croot/jupyterlab_1737555423487/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1733440870459/work
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.11.0
lightning-utilities==0.14.3
llvmlite @ file:///croot/llvmlite_1741209858218/work
loguru==0.7.2
Markdown==3.8.2
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.3
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune @ file:///croot/mistune_1741124011532/work
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.1
narwhals==2.14.0
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.4.2
notebook @ file:///croot/notebook_1749732987674/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.1.105
onnxruntime==1.22.1
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1734472117206/work
pandas==2.3.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
pesq==0.0.4
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pfzy==0.3.4
pickleshare==0.7.5
pillow==11.2.1
pipreqs==0.5.0
platformdirs @ file:///croot/platformdirs_1744273042065/work
pooch==1.8.2
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==6.31.1
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==22.0.0
pybind11==2.13.6
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
Pygments @ file:///croot/pygments_1744664109463/work
pyloudnorm==0.1.1
pyparsing==3.2.3
PyQt6==6.7.1
PyQt6_sip @ file:///croot/pyqt-split_1744804475988/work/pyqt_sip
pyroomacoustics==0.8.3
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pystoi==0.4.1
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
qtconsole @ file:///croot/qtconsole_1744633877544/work
QtPy @ file:///croot/qtpy_1700144840038/work
referencing @ file:///croot/referencing_1699012038513/work
requests @ file:///croot/requests_1750426329888/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
Send2Trash @ file:///croot/send2trash_1736540790175/work
sip @ file:///croot/sip_1738856193618/work
six @ file:///croot/six_1744271502820/work
smmap==5.0.2
sniffio @ file:///croot/sniffio_1705431295498/work
sounddevice==0.4.6
soundfile==0.13.1
soupsieve @ file:///croot/soupsieve_1696347547217/work
soxr==0.5.0.post1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
streamlit==1.52.2
streamlit-option-menu==0.4.0
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
terminado @ file:///croot/terminado_1671751832461/work
thop==0.1.1.post2209072238
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tinycss2 @ file:///croot/tinycss2_1738337643607/work
toml==0.10.2
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==2.2.0
torch-pesq==0.1.2
torch-stoi==0.2.3
torchaudio==2.2.0
torchaudio-filters==0.2.1
torchmetrics==1.7.2
torchtyping==0.1.5
torchvision==0.17.0
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
triton==2.2.0
typeguard==4.4.4
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
Unidecode==1.4.0
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1750775463400/work
watchdog==6.0.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==24.11.1
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.1.3
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
yarg==0.1.9
