einops==0.8.2
fastapi==0.136.3
ipython==8.12.3
librosa==0.11.0
loguru==0.7.2
matplotlib==3.10.9
nsnet2_denoiser==0.2.3
numpy==2.2.6
onnx==1.21.0
onnxruntime==1.22.1
onnxsim==0.6.4
pandas==2.3.3
ptflops==0.7.5
pydantic==2.13.4
pyroomacoustics==0.8.3
PyYAML==6.0.3
scipy==1.15.3
sounddevice==0.4.6
soundfile==0.13.1
termcolor==3.3.0
torch==2.2.0
torch_stoi==0.2.3
torchaudio==2.2.0
torchmetrics==1.7.2
tqdm==4.67.1
uvicorn==0.48.0
